In [2]:
# importing module
import sqlite3
import os

In [6]:
# current working Folder
scriptDir = os.path.dirname(os.path.realpath('__file__'))
# connecting to the database 
connection = sqlite3.connect(scriptDir + os.path.sep + "myTable.db")
# cursor 
crsr = connection.cursor()

# Q(1 & 3). Create Table & apply constraint NOT NULL & UNIQUE
sql_command = """ CREATE TABLE Subjects (
    ID INTEGER PRIMARY KEY  AUTOINCREMENT, 
    SubjectName varchar(255) NOT NULL UNIQUE,
    SubjectHours varchar(255) NOT NULL
); """

# execute the statement
crsr.execute(sql_command)
# To save the changes in the files. Never skip this. 
# If we skip this, nothing will be saved in the database.
connection.commit()

In [7]:
sql_command = """INSERT INTO Subjects VALUES (NULL,"Machine Learning", "100");"""
crsr.execute(sql_command)
connection.commit()

In [8]:
crsr.execute("SELECT * FROM Subjects") 
 
# store all the fetched data in the ans variable
ans = crsr.fetchall() 
 
# loop to print all the data
for i in ans:
    print(i)

(1, 'Machine Learning', '100')

In [9]:
#(Q.4) Alter already existing table name

sql_command = """ Alter table Subjects rename to Subjects_details; """
crsr.execute(sql_command)
connection.commit()

In [10]:
crsr.execute("SELECT * FROM Subjects_details") 
ans = crsr.fetchall() 
for i in ans:
    print(i)

(1, 'Machine Learning', '100')

In [11]:
#(Q.4) Update using where clause

sql_command = """ UPDATE  Subjects_details SET SubjectHours = '120' WHERE  SubjectName = 'Machine Learning' ; """
crsr.execute(sql_command)
connection.commit()

In [12]:
crsr.execute("SELECT * FROM Subjects_details") 
ans = crsr.fetchall() 
for i in ans:
    print(i)

(1, 'Machine Learning', '120')

In [14]:
sql_command = """INSERT INTO Subjects_details VALUES (NULL,"Network Security", "80");"""
crsr.execute(sql_command)

sql_command = """INSERT INTO Subjects_details VALUES (NULL,"Python Programming", "90");"""
crsr.execute(sql_command)

sql_command = """INSERT INTO Subjects_details VALUES (NULL,"Software Enterprise", "50");"""
crsr.execute(sql_command)

sql_command = """INSERT INTO Subjects_details VALUES (NULL,"API", "50");"""
crsr.execute(sql_command)

connection.commit()

In [15]:
crsr.execute("SELECT * FROM Subjects_details") 
ans = crsr.fetchall() 
for i in ans:
    print(i)

(1, 'Machine Learning', '120')
(2, 'Network Security', '80')
(3, 'Python Programming', '90')
(4, 'Software Enterprise', '50')
(5, 'API', '50')

In [22]:
# (Q.7) Create Views'

crsr.execute ( """ 

CREATE VIEW [Subject_H] AS
SELECT ID, SubjectName , SubjectHours
FROM Subjects_details
WHERE SubjectHours <  '80' ; """)

crsr.execute(" SELECT * FROM [Subject_H]; ") 


ans = crsr.fetchall() 
for i in ans:
    print(i)

(1, 'Machine Learning', '120')
(4, 'Software Enterprise', '50')
(5, 'API', '50')

In [23]:
# (Q.8) ORDER BY , ASC|DESC

crsr.execute("SELECT * FROM Subjects_details ORDER BY SubjectName ASC")
ans = crsr.fetchall() 
for i in ans:
    print(i)

(5, 'API', '50')
(1, 'Machine Learning', '120')
(2, 'Network Security', '80')
(3, 'Python Programming', '90')
(4, 'Software Enterprise', '50')

In [26]:
crsr.execute("SELECT * FROM Subjects_details ORDER BY SubjectName DESC")
ans = crsr.fetchall() 
for i in ans:
    print(i)

(4, 'Software Enterprise', '50')
(3, 'Python Programming', '90')
(2, 'Network Security', '80')
(1, 'Machine Learning', '120')
(5, 'API', '50')

In [27]:
# (Q.9) GROUP BY 
# The GROUP BY statement is often used with aggregate functions
# (COUNT, MAX, MIN, SUM, AVG) to group the result-set by one or more columns.

crsr.execute("SELECT COUNT(SubjectHours) , SubjectName FROM Subjects_details GROUP BY SubjectName")
ans = crsr.fetchall() 
for i in ans:
    print(i)

(1, 'API')
(1, 'Machine Learning')
(1, 'Network Security')
(1, 'Python Programming')
(1, 'Software Enterprise')